#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- Create cells in jupyter notebooks
- Use ordered and unordered lists in markdown cells
- Execute code in jupyter notebooks
- Use github

##Author:
Edmundo Manuel Miranda Bail√≥n

Some of the popular languages that Data Scientists use are:
1. Python
2. R
2. SQL

Some of the commonly used libraries used by data science include:
1. Numpy
2. Scikit-learn
3. Tensorflow
4. Pandas

|Data Science Tools|
|------------------|
|Anaconda|
|Jupyter Notebooks|
|Visual Studio Code|

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
hours = int(200/60)
minutes = 200%60
output = f"{hours} hours {minutes} minutes"
print(output)

3 hours 20 minutes